*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --clr-1: #06070e;
  --clr-2: #fcf7f8;
  --clr-3: #9bf3f0;
  --clr-4: #0b132b;
  --clr-5: #ffcad4;
  --clr-6: #ffe66d;
  --clr-7: #5e2bff;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--clr-5);
  font-family: sans-serif;
}

.main-nav {
  width: 100%;
  font-size: 2.5rem;
  display: flex;
}

.nav-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  padding: 1rem;

  span {
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: attr(data-char);
      inset: 0;
    }
    &:hover {
      color: red;

      &::before {
        transform: translateY(-20%);
      }
    }
  }
}
